<?xml version="1.0" ?>
<hibernate-configuration>
    <session-factory>
        <property name="connection.driver_class">${jdbc.driver}</property>
        <property name="connection.url">${jdbc.url}</property>
        <property name="connection.username">${jdbc.user}</property>
        <property name="connection.password">${jdbc.pass}</property>
        <property name="dialect">${hibernate.dialect}</property>
    </session-factory>
</hibernate-configuration>